body {
    
    color: #777777;
    background: url("../images/outerspace.png");
    display: block;
}

.title {
    font-family: 'Luckiest Guy', cursive;
    font-size: 96px;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
}

#rules {
    color: rgba(240, 167, 10, 0.473);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-family: 'Luckiest Guy', cursive;
}

h3 {
    color: rgba(238, 255, 0, 0.616);
    font-family: 'Luckiest Guy', cursive;
    font-size: 48px;  
    text-align: center;
}

#remaining {
    color:red;
    font-family: 'Luckiest Guy', cursive;;
    font-size: 48px;
}

#guesses {
    color:red;
    font-family: 'Luckiest Guy', cursive;
    font-size: 48px;
}

#wordToGuess {
    color:red;
    font-family: 'Luckiest Guy', cursive;
    font-size: 48px;
}

#playarea{
    display: none;
}